# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables (secrets)
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache from dependencies
.cache/
